API_ID=21123641
API_HASH=f9f5974d3c0c050964c743c6999ec4e6
BOT_TOKEN=8055188759:AAHbsMNnW0Tf2nrgHrqzevm9MOR2TifUmV0
LOG_GROUP_ID=
MONGO_DB_URI=mongodb://atlas-sql-690b4fffe997b77184cd8d85-bijdez.a.query.mongodb.net/sample_mflix?ssl=true&authSource=admin
OWNER_ID=5090115018
STRING_SESSION=BQFCUjkAUwCGGeEkkM5_OGQ1GE8qboCNTNd6phQcMW9ztCGj0CoJCLq3ulnFAx0tP4dNbkEzy7YCAYu9bEZ9j8XJkivPbsLSpWeDHAOAPPd_NpIDT-flE3VD2Yr425N1LRBGeiMq53ThOKdygwwup0PU2VmJhHiVfbt1YTbnaIzkw7NiUsHyHWhoAOD6JP-YvgISYrU6IEWwVsTcHyIIcqSIv3IKfCetYQVIUqBAnlqKkBKXBzvxoO_vH0tcAmqD9aZExrpcbF3d8L9DPNL3skLhv01A7YIFwf9aBztp7NE0QJrf8b62QCu8x3HizA6lpW6RynxZMvM5xrLn3SYe4VfJEhDjpwAAAAEvZP3KAA


